Django==5.2.9
django-tenants>=3.9.0
django-htmx>=1.27.0
psycopg2==2.9.9
gunicorn>=23.0.0
whitenoise>=6.11.0
Pillow>=11.0.0
dj-database-url>=3.0.1
redis>=7.1.0
celery>=5.6.0
django-celery-beat>=2.8.1

#File handling
openpyxl>=3.1.5,<3.2.0
pandas>=2.1.4,<2.2.0

# SMS Providers
africastalking>=2.0.1
pyhubtel-sms>=0.0.1

django-tailwind[cookiecutter,honcho,reload]>=4.4.2,<4.5

#Storage
django-storages>=1.14.6,<1.15.0